# Maven / build
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

# Quarkus
.quarkus/
*.jar
*.war
*-runner
*-runner.jar

# IDE
.idea/
*.iml
*.ipr
*.iws
.project
.classpath
.settings/
.vscode/
nb-configuration.xml

# OS
.DS_Store
Thumbs.db

# Local env
.env
.env.local
